import os


class EnvironVariables:

    """
    All variable below must be a strings (e.g. surrounded
    by single or double quotation marks)
    """

    BOT_TOKEN_API = ""
    COM2US_URL_WITH_PROMO = ""
    CHAT_ID = ""


def set_env():
    os.environ.setdefault("BOT_TOKEN_API", EnvironVariables.BOT_TOKEN_API)
    os.environ.setdefault("COM2US_URL_WITH_PROMO", EnvironVariables.COM2US_URL_WITH_PROMO)
    os.environ.setdefault("CHAT_ID", EnvironVariables.CHAT_ID)
